*{
    margin: 0;
    padding: 0;
    
}

    body {
    background-image:url('../img/bg1\ 1.png');
    background-color: #333333;
    background-position: center 0;
    background-repeat: no-repeat;
    }
   

#header{
width: 96,6%;
height: 90px;
padding: 25px;
background:linear-gradient(to bottom, rgba(0, 0, 0, 0.801) 0%, rgba(0, 0, 0, 0.103) 100%);
}
#header img{
    height: 45px;
    width: 167px;
    margin-left: 90px;
    margin-top:25px;
    
}
#login{
    background-color: rgba(0,0,0,.75);
    min-height: 200px;
    max-width: 350px;
    padding:60px;   
    display: flex;
    flex-direction:column;
    margin: auto;
    border-radius: 5px;
}
#entrar{
    color: white;
    font-size: 40px;
    margin-bottom: 44px;
    font-family: Arial, Helvetica, sans-serif;
}

.box input{
    width: 96%;
    height: 60px;
    color: white;
    background-color:#333333;
    border-radius: 5px;
    border-style: none;
    align-items: center;
    margin-bottom: 30px;
    padding-left:18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
    
}
input::placeholder {
    color:#B3B3B3;
    font-family: Arial, Helvetica, sans-serif;
  }

.btn {
    background-color: #e50914;
    width: 100%;
    height: 60px;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    padding: 16px;
    border-style: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

#check{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.check{
    color:#B3B3B3;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 2px;
    
    
}
.check input{
    margin-right: 5px;
    cursor: pointer;
}




#help{
    text-decoration: none;
    color: #B3B3B3;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 2px;
}
#help:hover{
    text-decoration: underline;
}
.cadastro{
    display: flex;
    margin-top: 15px;
}
.cadastro p{
    color: #B3B3B3;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 2px;
}
.cadastro a{
    text-decoration: none;
    color: white;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 5px;
}
.cadastro a:hover{
    text-decoration: underline;
}
.cadastroo{
    display: block;
    margin-top: 15px;
}
.cadastroo p{
    color: #B3B3B3;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 2px;
}
.cadastroo a{
    text-decoration: none;
    color: blue;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 5px;
}
.cadastroo a:hover{
    text-decoration: underline;
}

#footer{
    margin-top: 55px;
    width: 100%;
    height:190px;
    background-color: rgba(0,0,0,.75);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 55px;
    
}
.duvidas{
    padding: 60px;
    margin-left: 25px;

}
.duvidas p{
    color: #B3B3B3;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}
.duvidas a{
    text-decoration: none;
    color:#B3B3B3;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    
    
}
.duvidas a:hover{
    text-decoration: underline;
}
.coluna{
    margin-top: 20px;
}
#select{
    padding: 15px;
    background-color:#060609;
    color: #615f5f;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 5px;
}